@model Drogaria_DrogaVida.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do produto:</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_barra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_barra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.validade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.validade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qda_estoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qda_estoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_produto }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
